body{
  padding-top: 50px;
  background-color: white;

}
#images{
  max-width: 200px;
  height: 200px;
}
#footer{
  margin-top: 20px;
  font-size: 17px;
}
#quantity{
  margin-left: -16px;
}
#quantity-label{
  margin-left: -16px;
}
img.details{
  width: auto;
  margin: 15px auto;
  height: 200px;
}
