
.text, input[type=password] {
  width: 100%;
  padding: 7px;
  color: indigo;;
  display: inline-block;
  text-align: center;
  border: none;
  margin: 2px;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
