/* Global styling */

/* Define Custom css Variables */
:root{
    --bg-black-900:#000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0,-3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0,0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0,inset -3px -3px 3px #f8f8f8;
}
@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro-Regular-webfont.185ff557118a.ttf');
    font-weight: normal;
    font-style: normal; }
html{
    scroll-behavior: smooth !important;
}
body{
    font-size: 1em;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
    max-width: 100vw;
    
}

*:not(i){
    font-family: 'SourceSansProRegular', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}


::after,::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;

}

.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
    position: relative;
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}
.hover-in-shadow:hover::after{
    box-shadow: var(--inner-shadow);
}
.align-items-center{
    align-items: center;
}
.btn-1{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all .3s ease;
    display: inline-block;
}
.btn-1::after{
    border-radius: 30px;
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}
.effect-2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}
.effect-3{
    width: 180px;
    height: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}
.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}
.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;

}
.effect-2 div{
    width: 3px;
    height: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}
.effect-5{
    width: 50px;
    height: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}
.effect-5 div{
    width: 1px;
    background-color: #4dd0e1;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes leftBounce {
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}
/* Header */
.header{
    position: fixed;
    top: 0;
    right: 6%;
    z-index: 99;
}
.header0{
    position: fixed;
    top: 0;
    left: 6%;
    z-index: 99;
    margin-top: calc(40px + 10px);
    
}
.logo a{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
}
.header .settings-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    /* animation: spin 10s linear infinite; */
    margin-top: 10px;
    color: var(--text-black-700);

}
.header .darkmode-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    margin-top: 10px;
    color: var(--text-black-900);
}
.header .settings-btn::after{
    border-radius: 50%;
}
.header .darkmode-btn::after{
    border-radius: 50%;
}
.header .hamburger-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all .3s ease;
}
#closeBtn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all .3s ease;
}

.header .hamburger-btn::after{
    border-radius: 50%;
}
.header .hamburger-btn span{
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--bg-black-900);
    position: relative;
}
.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}
.header .hamburger-btn span::before{
    top: -6px;
}
.header .hamburger-btn span::after{
    top: 6px;
}

/* Navigation Menu */

.nav-menu{
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: all .3s ease-in-out;
}
.nav-menu .close-nav-menu{
    width: 40px;
    height: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all .3s ease;
}
.nav-menu .close-nav-menu::after{
    border-radius: 50%;
}
.nav-menu-inner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu ul{
    padding: 15px;
}
.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.nav-menu ul li:last-child{
    margin-bottom: 0;
}
.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all .3s ease;
}
.nav-menu ul li a.active{
    color: var(--skin-color);
}
.nav-menu ul li a::after{
    border-radius: 30px;
}
.nav-menu .copyright-text{
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(50%) rotate(-90deg);
    left: -60px;
}

/* Home section */
.home-section{
    position: relative;
}
.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;

}
.home-section .home-text p{
    color: var(--text-black-300);
    font-size: 18px;
    margin: 0;
    text-transform: capitalize;
}
.home-section .home-text h2{
    font-size: 55px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
    text-transform: capitalize;
}
.home-section .home-text .btn-1{
    margin-top: 30px;
}
.home-section .home-text h1{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-black-700);
    margin: 0;
}
.home-section .home-img .img-box{
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.home-section .home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}
.social-icons{
    display: inline-block;
    width: 230px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    right: calc(3% + 10px);
    background-color: var(--bg-black-50);
    z-index: 1002;
    border-radius: 10px 2px 10px 2px;
    visibility: hidden;
}
.social-icons p{
    text-align: center;
    font-size: 16px;
    padding: 3px;
    color: var(--text-black-300);
}
.social-icons div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icons div span{
    margin: 4px;
}
.social-icons div span i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
}
.social-icons div span i::after{
    border-radius: 50%;
}
.social-icons div span i a{
    text-decoration: none;
}
.fa-google-plus-g{
    color: #DD5044;
}
.fa-facebook-f{
    color: blue;
}
.fa-github{
    color: grey;
}
.fa-linkedin-in{
    color: blueviolet;
}
.fa-instagram{
    color: pink;
}


/* About Section */

.about-section .about-header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 30px;
    color: var(--text-black-900);
    font-size: 1.5em;
    font-weight: 600;
}
.about-section .container{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-column-gap: 20px;
}
.about-section .aboutme-text{
    color: var(--text-black-900);
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
}
.about-btns a{
    margin: 20px;
}



.social-icons2 div{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icons2 div span{
    margin: 4px;
}
.social-icons2 div span i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
}
.social-icons2 div span i::after{
    border-radius: 50%;
}
.social-icons2 div span i a{
    text-decoration: none;
}
.container, .container2, .container0{
    padding: 40px;
    max-width: 85%;
    margin: auto;
}

.section .container0 .skills-header{
    width: 100%;
    text-align: center;
    margin: 20px;
}
.section .container0 .skills-header ul{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section .container0 .skills-header ul li{
    padding: 8px;
    margin: 8px;
    box-shadow: var(--outer-shadow);
    border-radius: 15px;
    font-size: 1.1em;
    color: var(--text-black-700);
    cursor: pointer;
}
.section .container0 .skills-info{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
}
.section .container0 .skills-info .info{
    padding: 5px;
    margin: 10px;
}
.section .container0 .skills-info .info p{
    color: var(--text-black-700);
    padding: 5px;
    font-size: 1em;
}
.section .container0 .skills-info .info .line{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--inner-shadow);
    padding: 8px;
}
.section .container0 .skills-info .info .line .inner-line{
    height: 1vh;
    background-color: var(--text-black-700);
    border-radius: 10px;
}
.line .html{
    width: 92%;
}
.line .css{
    width: 90%;
}
.line .cplus{
    width: 68%;
}
.line .java{
    width: 95%;
}
.line .php{
    width: 80%;
}
.line .js{
    width: 70%;
}























.section .container2{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section .h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section .h2 h2{
    box-shadow: var(--outer-shadow);
    border-radius: 15px;
    padding: 10px;
    font-size: 1.1em;
}
.section .services-header-text,.contact-header-text{
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    margin: 80px;
    color: var(--text-black-900);
}

.section .container2 .serve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
    max-width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}
.section .container2 .serve h2{
    color: var(--text-black-700);
    font-size: 1.1em;
    text-align: center;
    
}
.section .container2 .serve .data{
    color: var(--text-black-700);
}
.section .container2 .serve .icon{
    box-shadow: var(--inner-shadow);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    padding: 15px;
    color: #FB839E;
}





.testimonial-section .testimonial-box{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.testimonial-section .testimonial-box .inner{
    font-size: .8em;
    text-align: center;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--outer-shadow);
    margin-top: 50px;
    font-family: "Lucida Calligraphy";   
}
.testimonial-section .testimonial-box .inner p{
    font-family: "Lucida Calligraphy";   
}
.testimonial-section .testimonial-box .inner .img{
    text-align: center;
}
.testimonial-section .testimonial-box .inner .img img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.testimonial-section .testimonial-box .btns-prev-next{
    display: inline-flex;
    padding: 20px;
}
.testimonial-section .testimonial-box .btns-prev-next .btn{
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--outer-shadow);
    border-radius: 50%;
}
.testimonial-section .testimonial-box .btns-prev-next .btn:hover{
    box-shadow: var(--inner-shadow);
}









.contact-section .contact-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.contact-section .contact-box .details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.contact-section .contact-box .details .c-box{
    padding: 20px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: var(--outer-shadow);
    max-height: 150px;
    overflow: hidden;
}
.contact-section .contact-box .details .c-box .details-icon{
    font-size: 1.1em;
    color: var(--skin-color);
}
.contact-section .contact-box .details .c-box h3{
    font-size: .9em;
    color: var(--text-black-700);
}
.contact-section .contact-box .details .c-box h4{
    font-size: .8em;
    color: var(--text-black-300);
}
.contact-section .contact-box .details .c-box h4 a{
    font-size: .8em;
    color: var(--text-black-300);
}

.contact-section .contact-box .contact-form{
    width: 100%;
    padding: 30px;
    margin-top: 50px;
    overflow: hidden;
}
.contact-section .contact-box .contact-form form{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    box-shadow: var(--outer-shadow);
    border-radius: 15px;
}
.contact-section .contact-box .contact-form form .left-txts{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-section .contact-box .contact-form form .left-txts input{
    padding: 10px;
    outline: none;
    border: none;
    font-size: .8em;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    box-shadow: var(--inner-shadow);
    color: var(--text-black-700);
}
.contact-section .contact-box .contact-form form textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 10px;
    outline: none;
    border: none;
    font-size: .8em;
    border-radius: 15px;
    margin-top: 0;
    height: calc(100% - 15px);
    max-height: calc(100% - 15px);
    background-color: transparent;
    box-shadow: var(--inner-shadow);
    color: var(--text-black-700);
}

.contact-section .contact-box .contact-form form .submit{
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: var(--outer-shadow);
    width: max-content;
    float: right;
    width: 100px;
    margin-left: calc(100% - 110px);
    cursor: pointer;

}
.contact-section .contact-box .contact-form form .submit input{
    outline: none;
    border: none;
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--skin-color);
    background: transparent;
    padding: 8px;
    cursor: pointer;
    
}
textarea{
    resize: none;
}















.portfolio-section .portfolio-header-text,.testimonial-header-text{
    padding: 10px;
    margin: 80px;
    font-size: 1.2em;
    color: var(--text-black-700);
}
.portfolio-header-text .portfolio-category,.testimonial-p{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.portfolio-header-text .portfolio-category ul{
    display: inline-flex;
    flex-wrap: wrap;
}
.portfolio-header-text .portfolio-category ul li{
    cursor: pointer;
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: .9em;
    border-radius: 15px;
    box-shadow: var(--outer-shadow);
}
.portfolio-section .container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
}
.portfolio-section .port-box{
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--outer-shadow);
}
.portfolio-section .port-box:hover{
    padding-top: 0;
    transition: ease-in .1s;
}
.portfolio-section .port-box .port-image img{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
.portfolio-section .port-box p{
    color: var(--text-black-700);
    padding-top: 5px;
}





















/* Scroll bar */
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: var(--bg-black-50);
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--text-black-700);
}

